<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Code</th>
				<th>Name</th>
				<th>Description</th>
				<th>Icon</th>
				<th>Birthday</th>
				<th>HeaderImage</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.code}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.description}"></td>
				<td th:text="${user.icon}"></td>
				<td th:text="${user.birthday}"></td>
				<td th:text="${user.header_image}"></td>
				<td th:text="${user.created}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>